{% capture listItems %}

{%- assign allItems = item.collections -%}
{%- for item in allItems  -%}
                <div role="listitem" class="w-dyn-item">
                                    <div fs-cmsfilter-field="spice" class="hide">{{ item.title }}</div>
                                  </div>
{%- endfor -%}

{% endcapture %}
{% assign items_length = listItems | strip | size %}

<div class="w-dyn-list" udy-collection="collection" replace-sub-ref="categories">
                                {%- unless items_length == 0 -%}<div role="list" class="w-dyn-items">
                                  {{ listItems }}
                                </div>{%- endunless -%}
                              </div>