{% capture listItems %}
{% paginate collections by 999 %}
{%- assign allItems = collections -%}
{%- for item in allItems  -%}
                <div role="listitem" class="w-dyn-item">
                              <div fs-cmsselect-element="text-value">{{ item.title }}</div>
                            </div>
{%- endfor -%}
{% endpaginate %}
{% endcapture %}
{% assign items_length = listItems | strip | size %}

<div class="hide w-dyn-list" udy-collection="collection">
                          {%- unless items_length == 0 -%}<div role="list" class="w-dyn-items">
                            {{ listItems }}
                          </div>{%- endunless -%}
                          {%- if items_length == 0 -%}<div class="w-dyn-empty">
                            <div>No items found.</div>
                          </div>{%- endif -%}
                        </div>